body {
    margin: 0;
    padding: 0;
    background-color: #262626;
}

header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: coral;
}
/* Share Social Media links */
ul {
    display: flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

ul li a {
    width:80px;
    height: 80;
    background: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

ul li a .fa {
    position: relative;
    color: #262626;
    transition: .5s;
}

ul li a:hover .fa {
    color: #fff;
    transform: rotateY(360deg);
}

ul li a:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f00;
    transition: .5s;
    z-index: 2;
}

ul li a:hover:before {
    top 0;
}

ul li:nth-child(1) a:before {
    background: blue;
}

/* Burger Menu */
.burger {
    position: absolute;
    z-index: 1000;
    right: 15px;
    top: 15px;
    cursor: pointer;
    width: 30px;
    display: block;
    margin: 1em 0 0 1em;
    background: transparent;
    outline: none;
    transition: .5s;
}

.burger div {
    position: relative;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
    transition: .5s;
    transform-origin: center;
}

.burger:hover div:nth-child(1){
    transform: translateY(9px) rotate(-45deg);
}

.burger:hover div:nth-child(2){
     opacity: 0;
}

.burger:hover div:nth-child(3){
    transform: translateY(-9px) rotate(45deg);
}

.patty_one {
    width: 30px;
}

.patty_two {
    width: 23px;
}

.patty_three {
    width: 26px;
}

.burger:hover div {
    width: 30px;
}
/*button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.share-btn {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 20px;
    color: #fff;
    background: tomato;
    padding: 13.5px 16.43px;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.6,.2,.1,1);
}*/


/* Tu CSS va aqui */

.navbar {
    background: none;
    border: none;
}
/*--------------------------------------------------------------------------------------------------------HEADER
.nav {
    padding: 0 20px 0 0;
}
.navbar a {
    color:#fff !important;
}
.nav li a:hover, .nav li a:focus {
    font-weight: bold !important;
}
.nav li:hover {
    font-size:18px;
    transition:all 0.5s;
}
*/

/*--------------------------------------------------------------------------------------------------------HERO*/
.hero {
    background: url() no-repeat;
    background-size: cover;
    padding-bottom: 300px;
    color: white;


}
.hero hr {
    width: 30px;
    border-top:2px solid tomato;
}
.hero .btn {
    background-color: tomato;
    border-radius: 15px;
    font-size: 12px;
}
.hero .btn:hover {
    background-color: #edce21;
    color:#fff;
}
.hero .frase{
    padding-top: 200px;
    color: white;
    
}
.hero  h1{
    font-size: 50px;
}

/*--------------------------------------------------------------------------------------------------------ABOUT*/
.about {
    background-color:  tomato; 
    color: #fff;
    padding: 20px 0 60px 0;
}

.about h4{
    color: #fff;
}
.line1 { 
    border-top: 2px solid #fff;
    width: 50px;
}

/*--------------------------------------------------------------------------------------------------------SERVICES*/
.services {
    padding:60px 30px;
    margin-left: 100px;
    margin-right: 100px;
}
.services p{
    color: darkgrey;
}
#line2{
    border-top: 2px solid tomato;
    width: 50px;
}

.icon-container {
    font-size: 60px;
    color: tomato;
}


