/* line 1, ../scss/base/_reset.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 1, ../scss/base/_base.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 7, ../scss/base/_base.scss */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 13, ../scss/base/_base.scss */
section {
  display: table;
  position: relative;
}

/* line 18, ../scss/base/_base.scss */
.content {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 27, ../scss/base/_base.scss */
h5 {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: bold;
}

/*............................................................................................. saludo */
/* line 36, ../scss/base/_base.scss */
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 39, ../scss/base/_base.scss */
.portfolio1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -320%);
}

/* line 45, ../scss/base/_base.scss */
.portfolio2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* line 51, ../scss/base/_base.scss */
.portfolio {
  font-family: 'Pacifico', cursive;
  color: #530B57;
}

/* line 55, ../scss/base/_base.scss */
.welcome li {
  display: inline-block;
  margin-right: 50px;
  font-size: 4em;
  color: #182548;
  opacity: 1;
  transition: all 2.5s ease;
}

/* line 64, ../scss/base/_base.scss */
.welcome li:last-child {
  margin-right: 0px;
}

/* line 67, ../scss/base/_base.scss */
.welcome.disguised li {
  opacity: 0;
}

/* line 70, ../scss/base/_base.scss */
.welcome.disguised li:nth-child(1) {
  transform: translate(-200px, -200px);
}

/* line 71, ../scss/base/_base.scss */
.welcome.disguised li:nth-child(2) {
  transform: translate(20px, 100px);
}

/* line 72, ../scss/base/_base.scss */
.welcome.disguised li:nth-child(3) {
  transform: translate(-150px, -80px);
}

/* line 73, ../scss/base/_base.scss */
.welcome.disguised li:nth-child(4) {
  transform: translate(10px, -200px);
}

/* line 74, ../scss/base/_base.scss */
.welcome.disguised li:nth-child(5) {
  transform: translate(-600px, 200px);
}

/* line 75, ../scss/base/_base.scss */
.welcome.disguised li:nth-child(6) {
  transform: translate(20px, -20px);
}

/* line 76, ../scss/base/_base.scss */
.welcome.disguised li:nth-child(7) {
  transform: translate(30px, 200px);
}

/* clouds */
/* line 82, ../scss/base/_base.scss */
#clouds-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

/* line 93, ../scss/base/_base.scss */
#cloud-2, #cloud-3, #cloud-4, #cloud-4 {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
}

/* line 99, ../scss/base/_base.scss */
#cloud-1_1 {
  content: "";
  height: 259px;
  background-image: url("../img/cloud0.png");
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
  background-position: 0px center;
  opacity: .5;
  background-size: contain;
  -webkit-animation-name: cloud_0;
  -webkit-animation-duration: 150s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: cloud_0;
  -moz-animation-duration: 150s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: cloud_0;
  -o-animation-duration: 150s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: cloud_0;
  animation-duration: 150s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* line 115, ../scss/base/_base.scss */
#grad {
  position: absolute;
  height: 200px;
  width: 100%;
  bottom: -72px;
  left: 0;
  right: 0;
  background-repeat: repeat-x;
  background-image: url(../img/cloud-grad.png);
}

/* line 126, ../scss/base/_base.scss */
#cloud-2 {
  background-image: url(../img/cloud1.png);
  width: 616px;
  height: 283px;
  opacity: .3;
  top: 0px;
  left: 5vw;
  -webkit-animation-name: cloud_2;
  -webkit-animation-duration: 200s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: cloud_2;
  -moz-animation-duration: 200s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: cloud_2;
  -o-animation-duration: 200s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: cloud_2;
  animation-duration: 200s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes cloud_2 {
  /* line 137, ../scss/base/_base.scss */
  0% {
    left: 5vw;
  }

  /* line 138, ../scss/base/_base.scss */
  33% {
    left: 105vw;
  }

  /* line 139, ../scss/base/_base.scss */
  66% {
    left: -282px;
  }

  /* line 140, ../scss/base/_base.scss */
  100% {
    left: 5vw;
  }
}

@-moz-keyframes cloud_2 {
  /* line 137, ../scss/base/_base.scss */
  0% {
    left: 5vw;
  }

  /* line 138, ../scss/base/_base.scss */
  33% {
    left: 105vw;
  }

  /* line 139, ../scss/base/_base.scss */
  66% {
    left: -282px;
  }

  /* line 140, ../scss/base/_base.scss */
  100% {
    left: 5vw;
  }
}

@-o-keyframes cloud_2 {
  /* line 137, ../scss/base/_base.scss */
  0% {
    left: 5vw;
  }

  /* line 138, ../scss/base/_base.scss */
  33% {
    left: 105vw;
  }

  /* line 139, ../scss/base/_base.scss */
  66% {
    left: -282px;
  }

  /* line 140, ../scss/base/_base.scss */
  100% {
    left: 5vw;
  }
}

@keyframes cloud_2 {
  /* line 137, ../scss/base/_base.scss */
  0% {
    left: 5vw;
  }

  /* line 138, ../scss/base/_base.scss */
  33% {
    left: 105vw;
  }

  /* line 139, ../scss/base/_base.scss */
  66% {
    left: -282px;
  }

  /* line 140, ../scss/base/_base.scss */
  100% {
    left: 5vw;
  }
}

/* line 143, ../scss/base/_base.scss */
#cloud-3 {
  background-image: url(../img/cloud2.png);
  width: 1000px;
  height: 291px;
  bottom: 0px;
  left: 0px;
  -webkit-animation-name: slow-left-to-right;
  -webkit-animation-duration: 300s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: slow-left-to-right;
  -moz-animation-duration: 300s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: slow-left-to-right;
  -o-animation-duration: 300s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: slow-left-to-right;
  animation-duration: 300s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slow-left-to-right {
  /* line 153, ../scss/base/_base.scss */
  0% {
    left: 0px;
  }

  /* line 154, ../scss/base/_base.scss */
  33% {
    left: 100vw;
  }

  /* line 155, ../scss/base/_base.scss */
  66% {
    left: -1000px;
  }

  /* line 156, ../scss/base/_base.scss */
  100% {
    left: 0px;
  }
}

@-moz-keyframes slow-left-to-right {
  /* line 153, ../scss/base/_base.scss */
  0% {
    left: 0px;
  }

  /* line 154, ../scss/base/_base.scss */
  33% {
    left: 100vw;
  }

  /* line 155, ../scss/base/_base.scss */
  66% {
    left: -1000px;
  }

  /* line 156, ../scss/base/_base.scss */
  100% {
    left: 0px;
  }
}

@-o-keyframes slow-left-to-right {
  /* line 153, ../scss/base/_base.scss */
  0% {
    left: 0px;
  }

  /* line 154, ../scss/base/_base.scss */
  33% {
    left: 100vw;
  }

  /* line 155, ../scss/base/_base.scss */
  66% {
    left: -1000px;
  }

  /* line 156, ../scss/base/_base.scss */
  100% {
    left: 0px;
  }
}

@keyframes slow-left-to-right {
  /* line 153, ../scss/base/_base.scss */
  0% {
    left: 0px;
  }

  /* line 154, ../scss/base/_base.scss */
  33% {
    left: 100vw;
  }

  /* line 155, ../scss/base/_base.scss */
  66% {
    left: -1000px;
  }

  /* line 156, ../scss/base/_base.scss */
  100% {
    left: 0px;
  }
}

/* line 159, ../scss/base/_base.scss */
#cloud-4 {
  width: 616px;
  height: 283px;
  background-image: url(../img/cloud4.png);
  opacity: 1;
  bottom: -20px;
  right: 0px;
  -webkit-animation-name: cloud_4;
  -webkit-animation-duration: 400s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: cloud_4;
  -moz-animation-duration: 400s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: cloud_4;
  -o-animation-duration: 400s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: cloud_4;
  animation-duration: 400s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes cloud_4 {
  /* line 170, ../scss/base/_base.scss */
  0% {
    right: 0px;
  }

  /* line 171, ../scss/base/_base.scss */
  33% {
    right: 100vw;
  }

  /* line 172, ../scss/base/_base.scss */
  66% {
    right: 616px;
  }

  /* line 173, ../scss/base/_base.scss */
  100% {
    right: 0px;
  }
}

@-moz-keyframes cloud_4 {
  /* line 170, ../scss/base/_base.scss */
  0% {
    right: 0px;
  }

  /* line 171, ../scss/base/_base.scss */
  33% {
    right: 100vw;
  }

  /* line 172, ../scss/base/_base.scss */
  66% {
    right: 616px;
  }

  /* line 173, ../scss/base/_base.scss */
  100% {
    right: 0px;
  }
}

@-o-keyframes cloud_4 {
  /* line 170, ../scss/base/_base.scss */
  0% {
    right: 0px;
  }

  /* line 171, ../scss/base/_base.scss */
  33% {
    right: 100vw;
  }

  /* line 172, ../scss/base/_base.scss */
  66% {
    right: 616px;
  }

  /* line 173, ../scss/base/_base.scss */
  100% {
    right: 0px;
  }
}

@keyframes cloud_4 {
  /* line 170, ../scss/base/_base.scss */
  0% {
    right: 0px;
  }

  /* line 171, ../scss/base/_base.scss */
  33% {
    right: 100vw;
  }

  /* line 172, ../scss/base/_base.scss */
  66% {
    right: 616px;
  }

  /* line 173, ../scss/base/_base.scss */
  100% {
    right: 0px;
  }
}

/* line 176, ../scss/base/_base.scss */
#cloud-7 {
  width: 642px;
  height: 383px;
  background-image: url(../img/cloud3.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
  bottom: -100px;
  right: 0px;
  opacity: .5;
  -webkit-animation-name: slow-right-to-left;
  -webkit-animation-duration: 200s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: slow-right-to-left;
  -moz-animation-duration: 200s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: slow-right-to-left;
  -o-animation-duration: 200s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: slow-right-to-left;
  animation-duration: 200s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slow-right-to-left {
  /* line 191, ../scss/base/_base.scss */
  0% {
    right: 0px;
  }

  /* line 192, ../scss/base/_base.scss */
  33% {
    right: 100vw;
  }

  /* line 193, ../scss/base/_base.scss */
  66% {
    right: -642px;
  }

  /* line 194, ../scss/base/_base.scss */
  100% {
    right: 0px;
  }
}

@-moz-keyframes slow-right-to-left {
  /* line 191, ../scss/base/_base.scss */
  0% {
    right: 0px;
  }

  /* line 192, ../scss/base/_base.scss */
  33% {
    right: 100vw;
  }

  /* line 193, ../scss/base/_base.scss */
  66% {
    right: -642px;
  }

  /* line 194, ../scss/base/_base.scss */
  100% {
    right: 0px;
  }
}

@-o-keyframes slow-right-to-left {
  /* line 191, ../scss/base/_base.scss */
  0% {
    right: 0px;
  }

  /* line 192, ../scss/base/_base.scss */
  33% {
    right: 100vw;
  }

  /* line 193, ../scss/base/_base.scss */
  66% {
    right: -642px;
  }

  /* line 194, ../scss/base/_base.scss */
  100% {
    right: 0px;
  }
}

@keyframes slow-right-to-left {
  /* line 191, ../scss/base/_base.scss */
  0% {
    right: 0px;
  }

  /* line 192, ../scss/base/_base.scss */
  33% {
    right: 100vw;
  }

  /* line 193, ../scss/base/_base.scss */
  66% {
    right: -642px;
  }

  /* line 194, ../scss/base/_base.scss */
  100% {
    right: 0px;
  }
}

/* line 197, ../scss/base/_base.scss */
#cloud-8 {
  width: 642px;
  height: 383px;
  background-image: url("../img/cloud3.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
  top: -115px;
  left: 60vw;
  opacity: .3;
  -webkit-animation-name: cloud_8;
  -webkit-animation-duration: 400s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: cloud_8;
  -moz-animation-duration: 400s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: cloud_8;
  -o-animation-duration: 400s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: cloud_8;
  animation-duration: 400s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes cloud_8 {
  /* line 212, ../scss/base/_base.scss */
  0% {
    left: 60vw;
  }

  /* line 213, ../scss/base/_base.scss */
  33% {
    left: -616px;
  }

  /* line 214, ../scss/base/_base.scss */
  66% {
    left: 100vw;
  }

  /* line 215, ../scss/base/_base.scss */
  100% {
    left: 60vw;
  }
}

@-moz-keyframes cloud_8 {
  /* line 212, ../scss/base/_base.scss */
  0% {
    left: 60vw;
  }

  /* line 213, ../scss/base/_base.scss */
  33% {
    left: -616px;
  }

  /* line 214, ../scss/base/_base.scss */
  66% {
    left: 100vw;
  }

  /* line 215, ../scss/base/_base.scss */
  100% {
    left: 60vw;
  }
}

@-o-keyframes cloud_8 {
  /* line 212, ../scss/base/_base.scss */
  0% {
    left: 60vw;
  }

  /* line 213, ../scss/base/_base.scss */
  33% {
    left: -616px;
  }

  /* line 214, ../scss/base/_base.scss */
  66% {
    left: 100vw;
  }

  /* line 215, ../scss/base/_base.scss */
  100% {
    left: 60vw;
  }
}

@keyframes cloud_8 {
  /* line 212, ../scss/base/_base.scss */
  0% {
    left: 60vw;
  }

  /* line 213, ../scss/base/_base.scss */
  33% {
    left: -616px;
  }

  /* line 214, ../scss/base/_base.scss */
  66% {
    left: 100vw;
  }

  /* line 215, ../scss/base/_base.scss */
  100% {
    left: 60vw;
  }
}

/*--------------------------------------------------------------------------------------------------------LOADER*/
/* line 220, ../scss/base/_base.scss */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 224, ../scss/base/_base.scss */
.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 30px 30px 0 black, -30px 30px 0 black, 30px -30px 0 black, -30px -30px 0 black, 0px -45px 0 black, 0px 45px 0 black, 45px 0 0 black, -45px 0 0 black;
  animation: animate 5s infinite;
}

@keyframes animate {
  /* line 243, ../scss/base/_base.scss */
  0% {
    box-shadow: 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0 0 black, 0px 0 0 black;
    transform: rotate(0deg);
  }

  /* line 255, ../scss/base/_base.scss */
  25% {
    box-shadow: 30px 30px 0 black, -30px 30px 0 black, 30px -30px 0 black, -30px -30px 0 black, 0px -45px 0 black, 0px 45px 0 black, 45px 0 0 black, -45px 0 0 black;
    transform: rotate(360deg);
  }

  /* line 267, ../scss/base/_base.scss */
  75% {
    box-shadow: 30px 30px 0 black, -30px 30px 0 black, 30px -30px 0 black, -30px -30px 0 black, 0px -45px 0 black, 0px 45px 0 black, 45px 0 0 black, -45px 0 0 black;
    transform: rotate(720deg);
  }

  /* line 279, ../scss/base/_base.scss */
  100% {
    box-shadow: 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0 0 black, 0px 0 0 black;
    transform: rotate(1440deg);
  }
}

/*--------------------------------------------------------------------------------------------------------ABOUT*/
/* line 293, ../scss/base/_base.scss */
.about {
  width: 100%;
  height: 800px;
  background: #F9F8F4;
  position: relative;
}

/* line 300, ../scss/base/_base.scss */
.about h5 {
  color: #A6787A;
}

/* line 304, ../scss/base/_base.scss */
.about .color-cloud1 {
  height: auto;
  width: auto;
  max-width: 40%;
  max-height: 40%;
  margin: 0 auto;
}

/* line 311, ../scss/base/_base.scss */
.img-wrapper {
  width: 1060px;
  height: auto;
  margin: auto;
  text-align: center;
  position: relative;
}

/* line 318, ../scss/base/_base.scss */
.text_over_image {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  height: 100px;
}

/*--------------------------------------------------------------------------------------------------------RESUME BTN */
/* line 331, ../scss/base/_base.scss */
.resume-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 40px;
  background: black;
  box-sizing: border-box;
  padding: 3px;
}

/* line 340, ../scss/base/_base.scss */
.inner-box {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
}

/* line 348, ../scss/base/_base.scss */
.resume-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: #fff;
  transition: .5s;
}

/* line 359, ../scss/base/_base.scss */
.resume-btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background: #fff;
  transition: .5s;
  z-index: 10;
}

/* line 371, ../scss/base/_base.scss */
.inner-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: black;
  transition: 5s;
}

/* line 382, ../scss/base/_base.scss */
.inner-box:after {
  content: '';
  position: absolute;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background: black;
  transition: 5s;
  z-index: 11;
}

/* line 394, ../scss/base/_base.scss */
.resume-btn:hover:before {
  left: 0;
}

/* line 397, ../scss/base/_base.scss */
.resume-btn:hover:after {
  right: 0;
}

/* line 400, ../scss/base/_base.scss */
.resume-btn .inner-box:before {
  left: 0;
}

/* line 403, ../scss/base/_base.scss */
.resume-btn .inner-box:after {
  right: 0;
}

/* line 407, ../scss/base/_base.scss */
.inner-box h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 100;
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
  transition: 5s;
}

/* line 417, ../scss/base/_base.scss */
.resume-btn:hover h4 {
  color: white;
}

/*--------------------------------------------------------------------------------------------------------SKILLS*/
/* line 421, ../scss/base/_base.scss */
.skills {
  width: 100%;
  height: 100%;
  background: #ADB0CF;
  position: relative;
}

/* line 427, ../scss/base/_base.scss */
.skills:before {
  content: '';
  width: 50%;
  height: 100px;
  position: absolute;
  top: -48px;
  left: 0;
  background: #ADB0CF;
  transform: skewY(8deg);
}

/* line 437, ../scss/base/_base.scss */
.skills:after {
  content: '';
  width: 50%;
  height: 100px;
  position: absolute;
  top: -48px;
  right: 0;
  background: #ADB0CF;
  transform: skewY(-8deg);
}

/* line 447, ../scss/base/_base.scss */
.skills-content h5 {
  z-index: 100;
  margin-top: 100px;
}

/* line 451, ../scss/base/_base.scss */
.skills-content h2 {
  z-index: 100;
  margin-bottom: 100px;
}

/* line 455, ../scss/base/_base.scss */
.skills_softwares {
  width: 600px;
  height: 230px;
  margin: 0 auto;
  position: relative;
}

/* line 462, ../scss/base/_base.scss */
.skills_softwares > .row {
  width: 100%;
  height: 1px;
  background-color: #8b8b8b;
  position: absolute;
  top: 0px;
  opacity: 0;
}

/* line 470, ../scss/base/_base.scss */
.skills_softwares > .columns {
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: stretch;
  -webkit-align-items: stretch;
}

/* line 484, ../scss/base/_base.scss */
.skills_softwares > .columns > .col {
  /* background-color: #fff; */
  width: 100px;
  height: 230px;
  text-align: center;
  position: relative;
  display: block;
}

/* line 492, ../scss/base/_base.scss */
.skills_softwares > .columns > .col > div {
  width: 25px;
  height: 0;
  margin-left: 40px;
  background-color: #5B4864;
  position: absolute;
  bottom: 50px;
}

/* line 500, ../scss/base/_base.scss */
.skills_softwares > .columns > .col > h1 {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #704663;
  text-align: center;
  margin: 0;
  margin-bottom: -10px;
  padding: 0;
  position: absolute;
  width: 100%;
  bottom: 0px;
  opacity: 0;
}

/* line 518, ../scss/base/_base.scss */
.w990px {
  padding-bottom: 0;
  background-color: #C3A2AB;
}

/* line 523, ../scss/base/_base.scss */
.text1 {
  color: #303030;
  font-size: 2rem;
  font-size: 20px;
  line-height: 3.2rem;
  padding: 110px 150px 160px 150px;
}

/* line 530, ../scss/base/_base.scss */
.text1 strong {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  margin: -3px 0 0;
  padding: 0;
}

/* line 537, ../scss/base/_base.scss */
.text1 a {
  color: #3f8093;
  display: inline-block;
  text-decoration: none;
}

/* line 542, ../scss/base/_base.scss */
.text1 a:hover {
  text-decoration: underline;
}

/* line 545, ../scss/base/_base.scss */
.text1 a[rel='external'] {
  color: #ca0a60;
}

/* line 548, ../scss/base/_base.scss */
.text2 {
  background-color: #4A597A;
  margin-top: -80px;
}

/* line 552, ../scss/base/_base.scss */
.text2 > .w990px.thankyou {
  padding: 0;
  position: relative;
  top: -64px;
}

/* line 557, ../scss/base/_base.scss */
.text2 > .w990px.thankyou > h1 {
  color: #fff;
  font-size: 60px;
  font-size: 6rem;
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.15em;
}

/* line 567, ../scss/base/_base.scss */
.text2 > .w990px {
  color: #dcdfe0;
  font-size: 15px;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0 80px;
  background: #4A597A;
}

/* line 575, ../scss/base/_base.scss */
.text2 > .w990px > p > span {
  opacity: 0;
  position: absolute;
  margin-left: 4px;
}

/* line 581, ../scss/base/_base.scss */
.thankyou {
  text-transform: uppercase;
  margin-bottom: 0;
}

/*#profile-wrap {
    position: absolute;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: -320px;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 460px;
    width: 360px;
    z-index: 4;
}*/
/* line 602, ../scss/base/_base.scss */
.profile-overlay {
  position: absolute;
  margin: 0 auto;
  margin-top: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  width: 280px;
  height: 280px;
  background: url(http://icons.iconarchive.com/icons/fasticon/angry-birds/128/yellow-bird-icon.png) 0px -30px;
  background-size: 0%;
  box-shadow: 0 0 10px black;
}

/* line 623, ../scss/base/_base.scss */
.profile-image {
  position: absolute;
  z-index: 0;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  height: 280px;
  width: 280px;
  background: url(http://icons.iconarchive.com/icons/fasticon/angry-birds/128/red-bird-icon.png) 0px -30px;
  background-size: 100%;
  overflow: hidden;
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

/* line 653, ../scss/base/_base.scss */
#about-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 1, ../scss/layout/_header.scss */
header {
  height: 100vh;
  background: #3c0f46;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background: url(http://lottiepassellsyms.com/wp-content/uploads/2014/05/Sunset-haze.jpg) no-repeat;
}

/* line 1, ../scss/layout/_footer.scss */
footer ul {
  text-align: center;
  margin-top: 40px;
}

/* line 6, ../scss/layout/_footer.scss */
footer ul li {
  display: inline-block;
  padding: 0 15px;
}

/* line 11, ../scss/layout/_footer.scss */
footer ul li a {
  width: 80px;
  height: 80px;
  background: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

/* line 27, ../scss/layout/_footer.scss */
footer ul li a .fa {
  position: relative;
  color: #262626;
  transition: .5s;
}

/* line 33, ../scss/layout/_footer.scss */
footer ul li a:hover .fa {
  color: #fff;
  transform: rotateY(360deg);
}

/* line 38, ../scss/layout/_footer.scss */
footer ul li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f00;
  transition: .5s;
  z-index: 2;
}

/* line 50, ../scss/layout/_footer.scss */
footer ul li a:hover:before {
  top: 0;
}

/* line 54, ../scss/layout/_footer.scss */
footer ul li:nth-child(1) a:before {
  background: blue;
}

/* Burger Menu button */
/* line 2, ../scss/modules/_buttons.scss */
.burger {
  position: absolute;
  z-index: 1000;
  right: 15px;
  top: 15px;
  cursor: pointer;
  display: block;
  margin: 1em 0 0 1em;
  background: transparent;
  outline: none;
  transition: .5s;
}

/* line 15, ../scss/modules/_buttons.scss */
.burger div {
  position: relative;
  height: 4px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
  transition: .5s;
  transform-origin: center;
}

/* line 25, ../scss/modules/_buttons.scss */
.burger:hover div:nth-child(1) {
  transform: translateY(9px) rotate(-45deg);
}

/* line 29, ../scss/modules/_buttons.scss */
.burger:hover div:nth-child(2) {
  opacity: 0;
}

/* line 33, ../scss/modules/_buttons.scss */
.burger:hover div:nth-child(3) {
  transform: translateY(-9px) rotate(45deg);
}

/* line 37, ../scss/modules/_buttons.scss */
.patty_one {
  width: 30px;
}

/* line 41, ../scss/modules/_buttons.scss */
.patty_two {
  width: 23px;
}

/* line 45, ../scss/modules/_buttons.scss */
.patty_three {
  width: 26px;
}

/* line 49, ../scss/modules/_buttons.scss */
.burger:hover div {
  width: 30px;
}
