* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

section {
  padding-top: 50px;
}

h5 {
  font-family: $h5-font;
  font-size: 20px;
  font-weight: bold;
    
}

h2 {
  font-family: $title-font;
} 

p, button, h1{
    font-family: $all-font;
}

/*--------------------------------------------------------------------------------------------------------ABOUT*/
.about, .portfolio {
    position: relative;
    background-color: #F9F8F3; 
    overflow: hidden;
    z-index: 0;
}

.about article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}
   
.large-window {
  height: 380px;
  background-image: url(../img/profile2.png);
  background-position: center 250px;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: contain;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 50%;
  position: relative; 
}
  
.large-window .window-tint {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
}
  
.large-window .promo-text {
    color: white;
    font-weight: 100;
    font-size: 50px;
    line-height: 1.2; 
}
    
.large-window .promo-text strong {
      display: block;
      font-size: 30px; 
}
    
.large-window .promo-text span {
      font-weight: 300;
      font-size: 18px;
      font-style: italic;
      color: rgba(255, 255, 255, 0.6); 
}
    
.large-window .promo-text .window-cta {
      font-size: 20px;
      text-decoration: none;
      color: white;
      border: 1px solid white;
      padding: 10px 20px;
      transition: all 0.3s ease-in-out; 
}
      
.large-window .promo-text .window-cta:hover {
        background: white;
        color: black; 
}


/*--------------------------------------------------------------------------------------------------------SKILLS*/
.skills {
    width: 100%;
    height: 100%;
    background: #ADB0CF;
    position: relative;
}

.skills:before {
    content:'';
    width: 50%;
    height: 100px;
    position: absolute;
    top: -48px;
    left: 0;
    background:#ADB0CF;
    transform: skewY(8deg);    
}

.skills:after {
    content:'';
    width: 50%;
    height: 100px;
    position: absolute;
    top: -48px;
    right: 0;
    background:#ADB0CF;
    transform: skewY(-8deg);
}

.skills-content {
  margin-bottom: 80px;
}

.skills-content h5{
  z-index: 100;
  margin-top: 50px;
}

.skills-content h2{
  z-index: 100;
    margin-bottom: 50px;
}

 .skills_softwares {
    width: 600px;
    height: 230px;
    margin: 0 auto;
    position: relative;
}

 .skills_softwares > .row {
    width: 100%;
    height: 1px;
    background-color: #8b8b8b;
    position: absolute;
    top: 0px;
    opacity: 0;
}

.skills_softwares > .columns {
    position: absolute;
    top: 0;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: stretch;
    -webkit-align-items: stretch;
}
 .skills_softwares > .columns > .col {
    /* background-color: #fff; */
    width: 100px;
    height: 230px;
    text-align: center;
    position: relative;
    display: block;
}
 .skills_softwares > .columns > .col > div {
    width: 25px;
    height: 0;
    margin-left: 40px;
    background-color: #5B4864;
    position: absolute;
    bottom: 50px;
}
 .skills_softwares > .columns > .col > h1 {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #704663;
    text-align: center;
    margin: 0;
    margin-bottom: -10px;
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 0px;
    opacity: 0;
}

/*--------------------------------------------------------------------------------------------------------PORTFOLIO*/
.portfolio {
    margin-bottom: 500px;
}
 
.portfolio article img {
  max-width: 100%;
}

.portfolio article img  figure {
  margin: auto
}

.portfolio-pics {
  margin-bottom: 100px; 
}
.portfolio  article {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}
.portfolio-pics figure {
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  width: 223px;
  height: 150px; 
}

.portfolio-pics figure.is-showing {
      opacity: 1;
      transform: translateX(0px); 
}
    
.portfolio-pics figure img {
      display: block;
      transform: scale(1);
      transition: all 0.3s ease-in-out; 
      width: 100%;
    height: auto;
}

.portfolio-pics figure:hover figcaption {
      left: 0%; 
}
    
.portfolio-pics figure:hover img {
      transform: scale(1.1); 
}
  
.portfolio-pics figcaption {
    position: absolute;
    bottom: 10px;
    left: -100%;
    background: #242541;
  color: #A56AAE;
    padding: 2px 8px;
    transition: all 0.3s ease-in-out; 
}

.thankyou {
    text-transform: uppercase;
    margin-bottom: 0;
}


