* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


h5 {
   font-family: $h5-font;
    font-size: 20px;
    font-weight: bold;
}


/*............................................................................................. saludo */

.welcome {
    @include centerer;
}
.portfolio1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -320%);
} 
.portfolio2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
} 
.portfolio {
    font-family: 'Pacifico', cursive;
    color: #530B57;
}
.welcome li {
    display: inline-block;
    margin-right: 50px;
    font-size: 4em;
    color: #182548;
    opacity: 1;
    transition: all 2.5s ease;
}

.welcome li:last-child {
    margin-right: 0px;
}
.welcome.disguised li {
    opacity: 0;
}
.welcome.disguised li:nth-child(1) {transform: translate(-200px, -200px)};
.welcome.disguised li:nth-child(2) {transform: translate(20px, 100px)};
.welcome.disguised li:nth-child(3) {transform: translate(-150px, -80px)};
.welcome.disguised li:nth-child(4) {transform: translate(10px, -200px)};
.welcome.disguised li:nth-child(5) {transform: translate(-600px, 200px)};
.welcome.disguised li:nth-child(6) {transform: translate(20px, -20px)};
.welcome.disguised li:nth-child(7) {transform: translate(30px, 200px)};



/* clouds */

#clouds-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}
#cloud-2, #cloud-3, #cloud-4, #cloud-4 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 2;
}
#cloud-1_1 {
    content: "";
    height: 259px;
    background-image: url("../img/cloud0.png");
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-position: 0px center;
    opacity: .5;
    background-size: contain;
    @include animation(cloud_0, 150s, linear, infinite);
}

#grad {
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: -72px;
    left: 0;
    right: 0;
    background-repeat: repeat-x;
    background-image: url(../img/cloud-grad.png);
}

#cloud-2 {
    background-image: url(../img/cloud1.png);
    width: 616px;
    height: 283px;
    opacity: .3;
    top: 0px;
    left: 5vw;
    @include animation(cloud_2, 200s, linear, infinite);
}

@include keyframes(cloud_2) {
    0%   { left: 5vw; }
    33% { left: 105vw ;}
    66%  { left: -282px ;}
    100%  { left: 5vw ;}
}

#cloud-3 {
    background-image: url(../img/cloud2.png);
    width: 1000px;
    height: 291px;
    bottom: 0px;
    left: 0px;
    @include animation(slow-left-to-right, 300s, linear, infinite);
}

@include keyframes(slow-left-to-right) {
    0%   { left: 0px; }
    33% { left: 100vw}
    66%   { left: -1000px; }
    100%   { left: 0px; }
}

#cloud-4 {
    width: 616px;
    height: 283px;
    background-image: url(../img/cloud4.png);
    opacity: 1;
    bottom: -20px;
    right: 0px;
    @include animation(cloud_4, 400s, linear, infinite);
}

@include keyframes(cloud_4) {
    0%   { right: 0px; }
    33% { right: 100vw}
    66%   { right: 616px; }
    100%   { right: 0px; }
}

#cloud-7 {
    width: 642px;
    height: 383px;
    background-image: url(../img/cloud3.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
    bottom: -100px;
    right: 0px;
    opacity: .5;
    @include animation(slow-right-to-left, 200s, linear, infinite);
}

@include keyframes(slow-right-to-left) {
    0%   { right: 0px; }
    33% { right: 100vw ;}
    66% { right: -642px ;}
    100% { right: 0px ;}
}

#cloud-8 {
    width: 642px;
    height: 383px;
    background-image: url("../img/cloud3.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
    top: -115px;
    left: 60vw;
    opacity: .3;
    @include animation(cloud_8, 400s, linear, infinite);
}

@include keyframes(cloud_8) {
    0%   { left: 60vw; }
    33% { left: -616px}
    66%   { left: 100vw; }
    100%   { left: 60vw; }
}

/*--------------------------------------------------------------------------------------------------------LOADER*/

.loader {
    @include centerer;
}

.circle {
    position: absolute;
    width: 30px;
    height:30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 30px 30px 0 #000,
                -30px 30px 0 #000,
                30px -30px 0 #000,
                -30px -30px 0 #000,
                0px -45px 0 #000,
                0px 45px 0 #000,
                45px 0 0 #000,
                -45px 0 0 #000;
    animation: animate 5s infinite;
}

@keyframes animate {
    0%
    {
    box-shadow: 0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0 0 #000,
                0px 0 0 #000;
    transform: rotate(0deg);
    } 
    25%
    {
    box-shadow: 30px 30px 0 #000,
                -30px 30px 0 #000,
                30px -30px 0 #000,
                -30px -30px 0 #000,
                0px -45px 0 #000,
                0px 45px 0 #000,
                45px 0 0 #000,
                -45px 0 0 #000;
    transform: rotate(360deg);
    }
    75%
    {
    box-shadow: 30px 30px 0 #000,
                -30px 30px 0 #000,
                30px -30px 0 #000,
                -30px -30px 0 #000,
                0px -45px 0 #000,
                0px 45px 0 #000,
                45px 0 0 #000,
                -45px 0 0 #000;
    transform: rotate(720deg);            
    }
    100%
    {
    box-shadow: 0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0 0 #000,
                0px 0 0 #000;
    transform: rotate(1440deg);
    }       
}

/*--------------------------------------------------------------------------------------------------------ABOUT*/
.about {
    width: 100%;
    height: 800px;
    background: #F9F8F4;
    position: relative;
}

.about h5 {
    color:#A6787A;
}

.about .color-cloud1 {
    height: auto; 
    width: auto; 
    max-width: 40%; 
    max-height: 40%;
    margin: 0 auto;
}
.img-wrapper {
    width: 1060px;
    height:auto;
    margin: auto;
    text-align:center;
    position:relative;
}
.text_over_image {
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
    height:100px;
}


/*--------------------------------------------------------------------------------------------------------RESUME BTN */
.resume-btn {
    @include centerer;
    width: 150px;
    height: 40px;
    background: black;
    box-sizing: border-box;
    padding: 3px; 
}

.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
}

.resume-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: #fff;
    transition: .5s;
}

.resume-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background: #fff;
    transition: .5s;
    z-index: 10;
}

.inner-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: black;
    transition: 5s;

}
.inner-box:after {
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background: black;
    transition: 5s;
    z-index: 11;
}

.resume-btn:hover:before{
    left: 0;
}
.resume-btn:hover:after{
    right: 0;
}
.resume-btn .inner-box:before{
    left: 0;
}
.resume-btn .inner-box:after{
    right: 0;
}

.inner-box h4 {
    @include centerer;
    text-align: center;
    color: white;
    z-index: 100;
    margin:0;
    padding: 0;
    letter-spacing: 3px;
    transition: 5s;
}
.resume-btn:hover h4 {
    color: white;
}
/*--------------------------------------------------------------------------------------------------------SKILLS*/
.skills {
    width: 100%;
    height: 100%;
    background: #ADB0CF;
    position: relative;
}
.skills:before {
    content:'';
    width: 50%;
    height: 100px;
    position: absolute;
    top: -48px;
    left: 0;
    background:#ADB0CF;
    transform: skewY(8deg);
}
.skills:after {
    content:'';
    width: 50%;
    height: 100px;
    position: absolute;
    top: -48px;
    right: 0;
    background:#ADB0CF;
    transform: skewY(-8deg);
}
.skills-content h5{
  z-index: 100;
    margin-top: 100px;
}
.skills-content h2{
  z-index: 100;
    margin-bottom: 100px;
}
 .skills_softwares {
    width: 600px;
    height: 230px;
    margin: 0 auto;
    position: relative;

}
 .skills_softwares > .row {
    width: 100%;
    height: 1px;
    background-color: #8b8b8b;
    position: absolute;
    top: 0px;
    opacity: 0;
}
 .skills_softwares > .columns {
    position: absolute;
    top: 0;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: stretch;
    -webkit-align-items: stretch;
}
 .skills_softwares > .columns > .col {
    /* background-color: #fff; */
    width: 100px;
    height: 230px;
    text-align: center;
    position: relative;
    display: block;
}
 .skills_softwares > .columns > .col > div {
    width: 25px;
    height: 0;
    margin-left: 40px;
    background-color: #5B4864;
    position: absolute;
    bottom: 50px;
}
 .skills_softwares > .columns > .col > h1 {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #704663;
    text-align: center;
    margin: 0;
    margin-bottom: -10px;
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 0px;
    opacity: 0;
}

/*--------------------------------------------------------------------------------------------------------PORTFOLIO*/
 #portfolio {
    margin-top: 20px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
 #portfolio > .portfolio-nav {
    margin-top: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}
 #portfolio > .portfolio-nav > span {
    color: #9F8764;
    font-size: 21px;
    font-size: 2.1rem;
    letter-spacing: 0.6rem;
    padding: 5px 40px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 650ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 650ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 650ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 650ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 650ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
 #portfolio > .portfolio-nav.on > span {
    background-color: #1D1D1D;
    border-right: 1px solid #9f8764;
    padding: 5px 110px;
    cursor: pointer;
}
 #portfolio > .portfolio-nav.on > span:hover {
    background-color: #9f8764;
    color: #1D1D1D;
}
 #portfolio > .portfolio-nav.on > span:last-child {
    border-right: none
}
 #portfolio > .portfolio-nav.on img {
    display: none;
}
 #portfolio > .portfolio-tab {
    margin-left: 20px;
    margin-top: 80px;
    -webkit-transition: all 2050ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 2050ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 2050ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 2050ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 2050ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
 #portfolio > .portfolio-tab.on {
    opacity: 0;
}
 #portfolio > .portfolio-tab > .column {
    float: left;
    margin-left: -13px;
    position: relative;
    z-index: 2;
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
    transform-style: preserve-3d;
}
 #portfolio > .portfolio-tab > .column > .prow {
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
    transform-style: flat;
    padding: 10px;
}
/* FIX BUG CHROME */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
     #portfolio > .portfolio-tab > .column > .prow {
        -webkit-perspective: none;
        -moz-perspective: none;
        -ms-perspective: none;
        perspective: none;
        padding: 0 10px;
    }
}
 #portfolio > .portfolio-tab > .column > .prow > div {
    width: 315px;
    height: 270px;
    margin-bottom: 5px;
    background-color: #ccc;
    overflow: hidden;
    position: relative;
    transform-style: flat;
    cursor: pointer;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center, center center;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
 #portfolio > .portfolio-tab > .column > .prow .thumb_nb,  #portfolio > .portfolio-tab > .column > .prow .thumb_color {
    width: 315px;
    height: 270px;
    background-color: #000;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center, center center;
    -webkit-transition: all 850ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 850ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -ms-transition: all 850ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 850ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 850ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
}
 #portfolio > .portfolio-tab > .column > .prow .thumb_nb {
    z-index: 9
}
 #portfolio > .portfolio-tab > .column > .prow.on > div > .thumb_nb {
    opacity: 0;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}
 #portfolio > .portfolio-tab > .column > .prow .shadow {
    width: 315px;
    height: 270px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
}
 #portfolio > .portfolio-tab > .column:nth-child(1) > .prow1 > div {
    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    -ms-transform: rotateY(-20deg);
    -o-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
 #portfolio > .portfolio-tab > .column:nth-child(1) > .prow2 > div {
    -webkit-transform: rotateY(20deg);
    -moz-transform: rotateY(20deg);
    -ms-transform: rotateY(20deg);
    -o-transform: rotateY(20deg);
    transform: rotateY(20deg);
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}
 #portfolio > .portfolio-tab > .column:nth-child(2) > .prow1 > div {
    -webkit-transform: rotateY(20deg);
    -moz-transform: rotateY(20deg);
    -ms-transform: rotateY(20deg);
    -o-transform: rotateY(20deg);
    transform: rotateY(20deg);
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}
 #portfolio > .portfolio-tab > .column:nth-child(2) > .prow2 > div {
    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    -ms-transform: rotateY(-20deg);
    -o-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
 #portfolio > .portfolio-tab > .column:nth-child(3) > .prow1 > div {
    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    -ms-transform: rotateY(-20deg);
    -o-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
 #portfolio > .portfolio-tab > .column:nth-child(3) > .prow2 > div {
    -webkit-transform: rotateY(20deg);
    -moz-transform: rotateY(20deg);
    -ms-transform: rotateY(20deg);
    -o-transform: rotateY(20deg);
    transform: rotateY(20deg);
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}
 #portfolio > .portfolio-tab > .column:nth-child(1) > .prow1 > div > .shadow,  #portfolio > .portfolio-tab > .column:nth-child(2) > .prow2 > div > .shadow,  #portfolio > .portfolio-tab > .column:nth-child(3) > .prow1 > div > .shadow {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
 #portfolio > .portfolio-tab > .column:nth-child(1) > .prow2 > div > .shadow,  #portfolio > .portfolio-tab > .column:nth-child(2) > .prow1 > div > .shadow,  #portfolio > .portfolio-tab > .column:nth-child(3) > .prow2 > div > .shadow {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
 #portfolio > .portfolio-tab > .column > .prow > div > .shadow {
    -webkit-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -ms-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
 #portfolio > .portfolio-tab > .column > .prow > div > .shadow {
    opacity: 1;
}
 #portfolio > .portfolio-tab > .column > .prow.on > div > .shadow {
    opacity: 0;
}
 #portfolio > .portfolio-tab > .column > .prow.on > div {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
 #portfolio > .portfolio-tab > .column > .prow > div > .description {
    position: absolute;
    z-index: 20;
    bottom: -80px;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 5px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 240ms;
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 240ms;
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 240ms;
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 240ms;
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 240ms;
}
 #portfolio > .portfolio-tab > .column > .prow.on > div > .description {
    bottom: 0;
}
 #portfolio > .portfolio-tab > .column > .prow > div > .description > h1 {
    width: 100%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 0.12rem;
    font-size: 15px;
    font-size: 1.5rem;
    text-align: center;
}
 #portfolio > .portfolio-tab > .column > .prow > div > .description > p {
    margin: 0;
    padding: 0;
}
 #portfolio > .portfolio-tab > .column > .prow > div > .linkIcon {
    position: absolute;
    z-index: 20;
    top: 20%;
    left: 50%;
    margin-left: -44px;
    width: 88px;
    height: 88px;
    background-image: url(../WD_IMAGES/_LUXEMBOURG/luxembourg-link-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 300ms;
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 300ms;
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 300ms;
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 300ms;
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 300ms;
    -webkit-transform: scale(0) rotate(90deg);
    -moz-transform: scale(0) rotate(90deg);
    -ms-transform: scale(0) rotate(90deg);
    -o-transform: scale(0) rotate(90deg);
    transform: scale(0) rotate(90deg);
    opacity: 0;
}
 #portfolio > .portfolio-tab > .column > .prow.on > div > .linkIcon {
    -webkit-transform: scale(0.75) rotate(0deg);
    -moz-transform: scale(0.75) rotate(0deg);
    -ms-transform: scale(0.75) rotate(0deg);
    -o-transform: scale(0.75) rotate(0deg);
    transform: scale(0.75) rotate(0deg);
    opacity: 1;
}
 #portfolio .portfolio-bg-tab {
    position: relative;
    height: 645px;
}
/*FIX BUG CHROME*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
     #portfolio .portfolio-bg-tab {
        top: -18px;
    }
}
 #portfolio .portfolio-bg-tab > div {
    position: absolute;
    z-index: 1;
}
 #portfolio .portfolio-bg-tab > div:nth-child(1) {
    left: -3px;
    top: -15px;
}
 #portfolio .portfolio-bg-tab > div:nth-child(2) {
    left: 374px;
    top: -15px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
 #portfolio .portfolio-bg-tab > div:nth-child(3) {
    left: 641px;
    top: -15px;
}
 #portfolio .portfolio-bg-tab > div:nth-child(4) {
    left: 52px;
    bottom: 43px;
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    -moz-transform: rotateX(180deg) rotateY(180deg);
    -ms-transform: rotateX(180deg) rotateY(180deg);
    -o-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
}
 #portfolio .portfolio-bg-tab > div:nth-child(5) {
    left: 319px;
    bottom: 43px;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
 #portfolio .portfolio-bg-tab > div:nth-child(6) {
    right: 14px;
    bottom: 43px;
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    -moz-transform: rotateX(180deg) rotateY(180deg);
    -ms-transform: rotateX(180deg) rotateY(180deg);
    -o-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
}
/*FIX BUG CHROME*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
     #portfolio .portfolio-bg-tab > div:nth-child(1),  #portfolio .portfolio-bg-tab > div:nth-child(2),  #portfolio .portfolio-bg-tab > div:nth-child(3) {
        top: -5px;
    }
     #portfolio .portfolio-bg-tab > div:nth-child(4),  #portfolio .portfolio-bg-tab > div:nth-child(5),  #portfolio .portfolio-bg-tab > div:nth-child(6) {
        bottom: 55px;
    }
}

.w990px {
    padding-bottom: 0;
     background-color: #C3A2AB;
}

.text1 {
    color: #303030;
    font-size: 2rem;
    font-size: 20px;
    line-height: 3.2rem;
    padding: 110px 150px 160px 150px;
}
.text1 strong {
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    margin: -3px 0 0;
    padding: 0;
}
.text1 a {
    color: #3f8093;
    display: inline-block;
    text-decoration: none;
}
.text1 a:hover {
    text-decoration: underline;
}
.text1 a[rel='external'] {
    color: #ca0a60;
}
.text2 {
    background-color: #4A597A;
    margin-top: -80px;
}
.text2 > .w990px.thankyou {
    padding: 0;
    position: relative;
    top: -64px;
}
.text2 > .w990px.thankyou > h1 {
    color: #fff;
    font-size: 60px;
    font-size: 6rem;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 300;
    letter-spacing: 0.15em
}
.text2 > .w990px {
    color: #dcdfe0;
    font-size: 15px;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 0 80px;
    background: #4A597A;
}
.text2 > .w990px > p > span {
    opacity: 0;
    position: absolute;
    margin-left: 4px;
}

.thankyou {
    text-transform: uppercase;
    margin-bottom: 0;
}




