
/*--------------------------------------------------------------------------------------------------------BURGER MENU */

.main-nav {
  background:transparent;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items:center;
}

.menu {
  margin: 0 60px;
  padding: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
}

.menu-item {
  margin:0 15px;
}

.menu-link{
  color: #9109A6;
  text-decoration:none;
}

.burger {
    z-index: 3000;
    cursor: pointer;
    margin: 0 -20px;
    background: transparent;
    outline: none;
    transition: .5s;
    position: fixed;
}

.burger div {
    height: 4px;
    background-color: #9109A6;
    margin: 5px 0;
    border-radius: 25px;
    transition: all .5s;
    transform-origin: center;
    z-index: 3000;
}


/*--------------------------------------------------------------------------------------------------------BURGER MENU ANIMATION */
.patty_one {
    width: 30px;
}

.patty_two {
    width: 23px;
}

.patty_three {
    width: 26px;
}

.burger:hover div {
    width: 30px;
}

.show-menu .menu {
  visibility: visible;
  opacity:1;
}

.show-menu .patty_one{
    transform: translateY(9px) rotate(-45deg);
    width: 30px;
}

.show-menu .patty_two{
     opacity: 0;
}

.show-menu .patty_three{
    transform: translateY(-9px) rotate(45deg);
    width: 30px;
}

/*--------------------------------------------------------------------------------------------------------RESUME BTN */
.resume-btn {
    @include center-btn;
    width: 150px;
    height: 40px;
    background: black;
    box-sizing: border-box;
    padding: 3px; 
    margin-top: 20px;
}

.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
}

.resume-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: #fff;
    transition: .5s;
}

.resume-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background: #fff;
    transition: .5s;
    z-index: 10;
}

.inner-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: black;
    transition: 5s;

}
.inner-box:after {
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background: black;
    transition: 5s;
    z-index: 11;
}

.resume-btn:hover:before{
    left: 0;
}
.resume-btn:hover:after{
    right: 0;
}
.resume-btn .inner-box:before{
    left: 0;
}
.resume-btn .inner-box:after{
    right: 0;
}
.inner-box h4 {
    @include centerer;
    text-align: center;
    color: white;
    z-index: 100;
    margin:0;
    padding: 0;
    letter-spacing: 3px;
    transition: 5s;
}
.resume-btn:hover h4 {
    color: white;
}