/*--------------------------------------------------------------------------------------------------------LOADER*/

.loader {
    @include centerer;
}

.circle {
    position: absolute;
    width: 30px;
    height:30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 30px 30px 0 #000,
                -30px 30px 0 #000,
                30px -30px 0 #000,
                -30px -30px 0 #000,
                0px -45px 0 #000,
                0px 45px 0 #000,
                45px 0 0 #000,
                -45px 0 0 #000;
    animation: animate 5s infinite;
}

@keyframes animate {
    0%
    {
    box-shadow: 0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0 0 #000,
                0px 0 0 #000;
    transform: rotate(0deg);
    } 
    25%
    {
    box-shadow: 30px 30px 0 #000,
                -30px 30px 0 #000,
                30px -30px 0 #000,
                -30px -30px 0 #000,
                0px -45px 0 #000,
                0px 45px 0 #000,
                45px 0 0 #000,
                -45px 0 0 #000;
    transform: rotate(360deg);
    }
    75%
    {
    box-shadow: 30px 30px 0 #000,
                -30px 30px 0 #000,
                30px -30px 0 #000,
                -30px -30px 0 #000,
                0px -45px 0 #000,
                0px 45px 0 #000,
                45px 0 0 #000,
                -45px 0 0 #000;
    transform: rotate(720deg);            
    }
    100%
    {
    box-shadow: 0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0px 0 #000,
                0px 0 0 #000,
                0px 0 0 #000;
    transform: rotate(1440deg);
    }       
}


/*--------------------------------------------------------------------------------------------------------RESUME BTN */
.resume-btn {
    @include center-btn;
    width: 150px;
    height: 40px;
    background: black;
    box-sizing: border-box;
    padding: 3px; 
    margin-top: 20px;
}

.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
}

.resume-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: #fff;
    transition: .5s;
}

.resume-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background: #fff;
    transition: .5s;
    z-index: 10;
}

.inner-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: black;
    transition: 5s;

}
.inner-box:after {
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background: black;
    transition: 5s;
    z-index: 11;
}

.resume-btn:hover:before{
    left: 0;
}
.resume-btn:hover:after{
    right: 0;
}
.resume-btn .inner-box:before{
    left: 0;
}
.resume-btn .inner-box:after{
    right: 0;
}
.inner-box h4 {
    @include centerer;
    text-align: center;
    color: white;
    z-index: 100;
    margin:0;
    padding: 0;
    letter-spacing: 3px;
    transition: 5s;
}
.resume-btn:hover h4 {
    color: white;
}